.container {
  .class-page-wrap {
    display: flex;
    .side-wrap {
      border: 1px solid red;
      width: 25%;
      border: 1px solid red;
    }
    .content-wrap {
      flex-grow: 1;
      border: 1px solid green;
    }
  }
}
